<!DOCTYPE html>
<html>
	<head>
		<title>Olga Media</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<header>
			<div class="middle">
				<a id="logo" href="/" rel="home" title="Olga Media"><img src="img/olga_media_logo.svg" alt="Olga Media"></a>

				<nav>
					<a href="#contact">Contact</a>
					<a href="#events">Events</a>
					<a href="#clientLogos">Portfolio</a>
					<a href="#banner">Services</a>
				</nav>
			</div>
		</header>
		<div id="banner">
			<div class="middle">
				<div id="slides">
					<div class="slide active">
						<div class="slideContent">
							<h2 class="slideTitle">Community Outreach</h2>
							<p class="slideText">Kombucha banh mi meditation whatever, VHS mustache swag fashion axe hammock everyday carry. Narwhal etsy gastropub kogi, gluten-free taxidermy crucifix godard fashion axe master cleanse tousled man braid cred tumblr semiotics.</p>
						</div>
						<div class="slideImage"><img src="img/service_outreach_icon.svg"></div>
					</div>

					<div class="slide">
						<div class="slideContent">
							<h2 class="slideTitle">Event Coverage</h2>
							<p class="slideText">Kombucha banh mi meditation whatever, VHS mustache swag fashion axe hammock everyday carry. Narwhal etsy gastropub kogi, gluten-free taxidermy crucifix godard fashion axe master cleanse tousled man braid cred tumblr semiotics.</p>
						</div>
						<div class="slideImage"><img src="img/service_camera_icon.svg"></div>
					</div>

					<div class="slide">
						<div class="slideContent">
							<h2 class="slideTitle">Social Media</h2>
							<p class="slideText">Kombucha banh mi meditation whatever, VHS mustache swag fashion axe hammock everyday carry. Narwhal etsy gastropub kogi, gluten-free taxidermy crucifix godard fashion axe master cleanse tousled man braid cred tumblr semiotics.</p>
						</div>
						<div class="slideImage"><img src="img/service_social_icon.svg"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="services">
			<div class="middle">
				<div class="service active">
					<div class="serviceIcon">
						<img src="img/service_outreach_icon.svg">
					</div>
					<div class="serviceText">
						<h5 class="serviceTitle">Community Outreach</h5>
						<p class="serviceSubTitle">Engage with the community.</p>
					</div>
				</div>

				<div class="service">
					<div class="serviceIcon">
						<img src="img/service_camera_icon.svg">
					</div>
					<div class="serviceText">
						<h5 class="serviceTitle">Event Coverage</h5>
						<p class="serviceSubTitle">Become a media sensation.</p>
					</div>
				</div>

				<div class="service">
					<div class="serviceIcon">
						<img src="img/service_social_icon.svg">
					</div>
					<div class="serviceText">
						<h5 class="serviceTitle">Social Media</h5>
						<p class="serviceSubTitle">Enhance your online presence.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="us">
			<div class="middle">
				<h1>Kombucha banh mi meditation whatever, VHS mustache swag fashion axe hammock everyday carry. Narwhal etsy gastropub kogi, gluten-free taxidermy crucifix godard fashion axe master cleanse tousled man braid cred tumblr semiotics.</h1>
			</div>
		</div>

		<div id="clientLogos">
			<div class="clientLogo"></div>
			<div class="clientLogo"></div>
			<div class="clientLogo"></div>
			<div class="clientLogo"></div>
			<div class="clientLogo"></div>
			<div class="clientLogo"></div>
		</div>

		<div id="projects">
			<figure class="project">
				<img src="img/project_larry_ellison.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>

					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

			<figure class="project">
				<img src="img/project_interview.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>
					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

			<figure class="project">
				<img src="img/project_sam_liccardo.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>
					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

			<figure class="project">
				<img src="img/project_sergey_v_petrov.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>
					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

			<figure class="project">
				<img src="img/project_tim_draper.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>
					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

			<figure class="project">
				<img src="img/project_woz.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>
					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

			<figure class="project">
				<img src="img/project_kansen_chu.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>
					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

			<figure class="project">
				<img src="img/project_tony_perkins.jpg">
				<figcaption>
					<h2>Project Title</h2>
					<p>Bicycle rights selfies listicle, craft beer hashtag synth PBR&B paleo tote bag cred scenester VHS everyday carry.</p>
					<a href="#" class="projectLink"></a>
				</figcaption>
			</figure>

		</div>

		<div id="events">
			<div class="middle">
				<h2 class="eventsSectionTitle">Events</h2>

				<div id="eventList">
					<% @events.each do |event| %>
						<div class="event">
							<h3 class="eventTitle"><%= event.title %></h3>
							<p class="eventSubTitle">Date: <%= event.date %> | Fee: <%= event.fee %></p>

							<p class="eventSummary"><%= event.summary %></p>
							<p class="eventAddress"><%= event.address %></p>
							<a href="<%= event.link %>" class="eventLink"><%= event.linkText %></a>
							<hr>
						</div>
					<% end %>

					<% if @events.empty? %>
						<p class="noEvents">No events currently listed.</p>
					<% end %>
				</div>

				<ul id="calendar">
					<li class="weekday">Su</li>
					<li class="weekday">Mo</li>
					<li class="weekday">Tu</li>
					<li class="weekday">We</li>
					<li class="weekday">Th</li>
					<li class="weekday">Fr</li>
					<li class="weekday">Sa</li>
				</ul>
			</div>
		</div>

		<div id="contact">
			<div class="middle">
				<p id="address"><%= @contact.address %></p>
				<p id="phone"><%= @contact.phone %></p>
				<p id="email"><%= @contact.email %></p>
			</div>
		</div>

		<div id="copyright">
			<p><a class="builtBy" href="http://www.petertinti.com">Built with <img src="img/heart.svg"/> by Peter Tinti.</a></p>
		</div>
	</body>
	<script src="slider.js"></script>
	<script src="calendar.js"></script>
</html>